 <div class="container">
        <div class="col 10 10 10">
            <div class="jumbotron" style="text-align: center">
                <div class="col 4 4 4">
                    <h1>
                        <i class="fas fa-paw"></i>
                        Friend Finder
                    </h1>
                </div>
                <hr>
                <div class="col 8 8 8">
                    <h2>
                        Find nearby people with similar interests!
                    </h2>
                </div>
                <div class="button-container">
                    <a href="#" class="button">
                        Get in touch!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <video
    src="../public/assets/img/dog.mp4"
    autoplay="autoplay"
    loop="loop"
    muted="muted">
    </video>